<a href="https://colab.research.google.com/github/s-rishu/predicting-earthquake-damage/blob/main/predicting_damage_grade.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import os

os.getcwd()
os.chdir('C:\\0_Jpt\\0_ML_NYU_1')
Py_Base = 'C:\\0_Jpt\\0_ML_NYU_1'

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"


import warnings
warnings.filterwarnings("ignore")


import io


# OS
import time

# Preprocessing / EDA
import numpy as np
import pandas as pd
import scipy as sp
import matplotlib.pyplot as plt

import seaborn as sns

# Modelling
import statsmodels.api as sm
from sklearn.linear_model import LogisticRegression


# 모형 성능 평가
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score,roc_auc_score, roc_curve

In [ ]:
train_labels = pd.read_csv("C:\\Users\\82104\\Desktop\\train_labels.csv")
test_values = pd.read_csv("C:\\Users\\82104\\Desktop\\test_values.csv")
train_values = pd.read_csv("C:\\Users\\82104\\Desktop\\train_values.csv")

In [ ]:
train_labels.head()

   building_id  damage_grade
0       802906             3
1        28830             2
2        94947             3
3       590882             2
4       201944             3

In [ ]:
train_values.head()

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,...,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
0,802906,6,487,12198,2,30,6,5,t,r,...,0,0,0,0,0,0,0,0,0,0
1,28830,8,900,2812,2,10,8,7,o,r,...,0,0,0,0,0,0,0,0,0,0
2,94947,21,363,8973,2,10,5,5,t,r,...,0,0,0,0,0,0,0,0,0,0
3,590882,22,418,10694,2,10,6,5,t,r,...,0,0,0,0,0,0,0,0,0,0
4,201944,11,131,1488,3,30,8,9,t,r,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
test_values.head()

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,...,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
0,300051,17,596,11307,3,20,7,6,t,r,...,0,0,0,0,0,0,0,0,0,0
1,99355,6,141,11987,2,25,13,5,t,r,...,1,0,0,0,0,0,0,0,0,0
2,890251,22,19,10044,2,5,4,5,t,r,...,0,0,0,0,0,0,0,0,0,0
3,745817,26,39,633,1,0,19,3,t,r,...,0,0,1,0,0,0,0,0,0,0
4,421793,17,289,7970,3,15,8,7,t,r,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
train_values.shape
train_values.columns

(260601, 39)

Index(['building_id', 'geo_level_1_id', 'geo_level_2_id', 'geo_level_3_id',
       'count_floors_pre_eq', 'age', 'area_percentage', 'height_percentage',
       'land_surface_condition', 'foundation_type', 'roof_type',
       'ground_floor_type', 'other_floor_type', 'position',
       'plan_configuration', 'has_superstructure_adobe_mud',
       'has_superstructure_mud_mortar_stone', 'has_superstructure_stone_flag',
       'has_superstructure_cement_mortar_stone',
       'has_superstructure_mud_mortar_brick',
       'has_superstructure_cement_mortar_brick', 'has_superstructure_timber',
       'has_superstructure_bamboo', 'has_superstructure_rc_non_engineered',
       'has_superstructure_rc_engineered', 'has_superstructure_other',
       'legal_ownership_status', 'count_families', 'has_secondary_use',
       'has_secondary_use_agriculture', 'has_secondary_use_hotel',
       'has_secondary_use_rental', 'has_secondary_use_institution',
       'has_secondary_use_school', 'has_secondary_use_industry',
       'has_secondary_use_health_post', 'has_secondary_use_gov_office',
       'has_secondary_use_use_police', 'has_secondary_use_other'],
      dtype='object')

In [ ]:
train_labels[["damage_grade"]]

        damage_grade
0                  3
1                  2
2                  3
3                  2
4                  3
...              ...
260596             2
260597             3
260598             3
260599             2
260600             3

[260601 rows x 1 columns]

In [ ]:
X = train_values
y = train_labels[["damage_grade"]]

In [ ]:
y

        damage_grade
0                  3
1                  2
2                  3
3                  2
4                  3
...              ...
260596             2
260597             3
260598             3
260599             2
260600             3

[260601 rows x 1 columns]

In [ ]:
df = X

In [ ]:
df["damage_grade"] = train_labels.damage_grade

In [ ]:
df.head()

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,...,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other,damage_grade
0,802906,6,487,12198,2,30,6,5,t,r,...,0,0,0,0,0,0,0,0,0,3
1,28830,8,900,2812,2,10,8,7,o,r,...,0,0,0,0,0,0,0,0,0,2
2,94947,21,363,8973,2,10,5,5,t,r,...,0,0,0,0,0,0,0,0,0,3
3,590882,22,418,10694,2,10,6,5,t,r,...,0,0,0,0,0,0,0,0,0,2
4,201944,11,131,1488,3,30,8,9,t,r,...,0,0,0,0,0,0,0,0,0,3

# Statistical Feature Selection (Categorical Vs Continuous) using Anova test

Analysis of variance(ANOVA) is performed to check if there is any relationship between the given continuous and categorical variable

> * Assumption(H0) : There is No relation between the given variables (i.e. The average(mean) values of the numeric Predictor variable is same for all the groups in the categorical Target Variable

>- ANOVA Test result : Probability of H0 being true

In [ ]:
# Defining a function to find the statistical relationship

def FunctionAnova(inpData, TargetVariable,ContinuousPredictorList):
    from scipy.stats import f_oneway
    
    # Creating an empty list of final selected predictors
    SelectedPredictors=[]
    
    print("####Anova Results ##### \n")
    for predictor in ContinuousPredictorList:
        CategoryGroupLists = inpData.groupby(TargetVariable)[predictor].apply(list)
        AnovaResults = f_oneway(*CategoryGroupLists)
        
        # If the ANOVA P-value is <0.05 , that means we reject H0
        
        if(AnovaResults[1]<0.05):
            print(predictor,"is correlated with",TargetVariable,"|P-Value",AnovaResults[1])
            SelectedPredictors.append(predictor)
        else:
            print(predictor,"is Not correlated with",TargetVariable,"P-Value", AnovaResults[1])
    
    return(SelectedPredictors)

In [ ]:
ContinuousVariables= ['','', '']
FunctionAnova(inpData=df, TargetVariable="damage_grade",ContinuousPredictorList=ContinuousVariables)

In [ ]:
ContinuousColsList = ['','','']

import matplotlib.pyplot as plt
fig, PlotCanvas = plt.subplots(nrows=1,ncols=len(ContinuousColsList),figsize=(18,5))

# Creating box plots for each continuous predictor against the Target Variable "BadCredit"

for PredictorCol , i in zip(ContinuousColsList,range(len(ContinuousColsList))):
    CreditRiskData.boxplot(column=PredictorCol,
                          by="y",
                          figsize=(5,5),
                          vert=True,
                          ax=PlotCanvas[i])

In [ ]:
df.describe(include=np.int64).columns

# Relationship exploration : Categorical vs Categorical -- Grouped Bar Charts
> - When the target variable is Categorical and the predictor is also Categorical then we explore the correlation between them visually using barplots and statistically using Chi-square test

In [ ]:
# Cross tabulation between two categorical variables
CrossTabResult = pd.crosstab(columns=df['damage_grade'],index=df[''])
CrossTabResult

In [ ]:
df.describe(include=np.object_).columns
df.describe(include=np.object_)

Index(['land_surface_condition', 'foundation_type', 'roof_type',
       'ground_floor_type', 'other_floor_type', 'position',
       'plan_configuration', 'legal_ownership_status'],
      dtype='object')

,land_surface_condition,foundation_type,roof_type,ground_floor_type,other_floor_type,position,plan_configuration,legal_ownership_status
count,260601,260601,260601,260601,260601,260601,260601,260601
unique,3,5,3,5,4,4,10,4
top,t,r,n,f,q,s,d,v
freq,216757,219196,182842,209619,165282,202090,250072,250939

In [ ]:
# Visual Inference using Grouped Bar charts
CategoricalColsList =['', '', '']

import matplotlib.pyplot as plt
fig, PlotCanvas = plt.subplots(nrows=len(CategoricalColsList),ncols=1,figsize=(10,90))

for CategoricalCol, i in zip(CategoricalColsList,range(len(CategoricalColsList))):
    CrossTabResult= pd.crosstab(index=df[CategoricalCol],columns=df['y'])
    CrossTabResult.plot.bar(color=['blue','red'],ax=PlotCanvas[i])

In [ ]:
# Continuous to Categorical variables 
# Chi-square Test

In [ ]:
age_gr = df.age.quantile(q=list(np.arange(0,1,0.1)))
age_gr
df["age_gr"] = 0

In [ ]:
for i in range (df["age"].shape[0]) :
    if df.loc[i,"age"] <= duration_gr.iloc[1] :
        df.loc[i,"age_gr"] = 1
    elif df.loc[i,"age"] <= duration_gr.iloc[2] :
        df.loc[i,"age_gr"] = 2
    elif df.loc[i,"age"] <= duration_gr.iloc[3] :
        df.loc[i,"age_gr"] = 3
    elif df.loc[i,"age"] <= duration_gr.iloc[4] :
        df.loc[i,"age_gr"] = 4
    elif df.loc[i,"age"] <= duration_gr.iloc[5] :
        df.loc[i,"age_gr"] = 5
    elif df.loc[i,"age"] <= duration_gr.iloc[6] :
        df.loc[i,"age_gr"] = 6
    elif df.loc[i,"age"] <= duration_gr.iloc[7] :
        df.loc[i,"age_gr"] = 7
    elif df.loc[i,"age"] <= duration_gr.iloc[8] :
        df.loc[i,"age_gr"] = 8
    elif df.loc[i,"age"] <= duration_gr.iloc[9] :
        df.loc[i,"age_gr"] = 9
    else :
        df.loc[i,"age_gr"] = 10

In [ ]:
Crosstab = pd.crosstab(df["damage_grade"],df["age_gr"],margins=True)

Chi2, p_value,dof,threshold = chi2_contingency(observed=Crosstab)
Chi2
p_value

# Grouped Bar charts Interpretation
What to look for in these group bar charts?

* These grouped bar charts show the frequency in the Y-Axis and the category in the X-Axis. If the ratio of bars is similar across all categories, then the two columns are not correlated.

 
 
 Hence, two columns are correlated with each other
 

confirm this analysis in below section by using Chi-Square Tests

## Statistical Feature Selection (Categorical vs Categorical) using Chi-Square Test
* Chi-Square is conducted to check the correlation between two categorical variables
* Assumption(H0) : The among columns(levels with x variable) are NOT related to each other 
* mathisfun chi-square-test

In [ ]:
def FunctionChisq(inpData, TargetVariable, CategoricalVariablesList):
    from scipy.stats import chi2_contingency
    
    # Creating an empty list of final selected predictors
    SelectedPredictors=[]
    for predictor in CategoricalVariablesList:
        CrossTabResult= pd.crosstab(index=inpData[TargetVariable],columns=inpData[predictor])
        ChiSqResult = chi2_contingency(CrossTabResult)
        
        if (ChiSqResult[1]<0.05):
            print(predictor, " is accepted with 95% CI",
                 TargetVariable, "|P-Value",ChiSqResult[1])
            SelectedPredictors.append(predictor)
        else :
            print(predictor, " is Not accepted with 95% CI",
                 TargetVariable, "|P-Value",ChiSqResult[1])
    return(SelectedPredictors)

In [ ]:
CategoricalVariables = [ '','', '']

FunctionChisq(inpData=df, TargetVariable="damage_grade", CategoricalVariablesList=CategoricalVariables)

# Selecting final predictors for Machine Learning
> * Based on the above tests, selecting the final columns for machine learning

In [ ]:
SelectedColumns=['','','']

ModelData = df[SelectedColumns]
ModelData.head()
ModelData.info()

In [ ]:
# Saving this final data for reference during deployment
ModelData.to_csv("C:\\Users\\82104\\Desktop\\data\\ModelData.csv")

# Splitting the data into Training and Testing sample

In [ ]:
X_train,X_test,y_train,y_test = train_test_split(X,y,stratify=y,test_size=0.2,random_state=42)
X_train1,X_test1,y_train1,y_test1 = train_test_split(X,y,stratify=y,test_size=0.3,random_state=42)
X_train2,X_test2,y_train2,y_test2 = train_test_split(X,y,stratify=y,test_size=0.4,random_state=42)
X_train3,X_test3,y_train3,y_test3 = train_test_split(X,y,stratify=y,test_size=0.5,random_state=42)

In [ ]:
split_80_20=y_train.mean()-y_test.mean()
split_70_30=y_train1.mean()-y_test1.mean()
split_60_40=y_train2.mean()-y_test2.mean()
split_50_50=y_train3.mean()-y_test3.mean()

In [ ]:
import pandas as pd

split_ratio_df = pd.DataFrame({"train_test_split ratio" : ["split_80_20", "split_70_30","split_60_40","split_50_50"],
                              "gap":[abs(split_80_20),abs(split_70_30),abs(split_60_40),abs(split_50_50)]},
                             index=["split_80_20","split_70_30","split_60_40","split_50_50"])
split_ratio_df

min(split_ratio_df["gap"])

# Logistic Regression

In [ ]:
# Logistic Regression
from sklearn.linear_model import LogisticRegression

# choose parameter Penalty = 'l1' or C = 1
#----------------------------------------------------
# C : Cost function : L1, L2
# HIgher C - weaker restraint 

#           ------ * select appropriate level of C------------------

#  Lower C - higher restraint 
#----------------------------------------------------



#----------------------------------------------------
# value for solver
#----------------------------------------------------
# 'newton-cg' : only supports L2
#----------------------------------------------------

clf_C001 = LogisticRegression(C=0.01, # C : Cost function : L1, L2 constraint level  # parameter values
                              penalty='l2',
                              solver='newton-cg').fit(X_train,y_train) 
clf_C001.score(X_train,y_train)
clf_C001.score(X_test,y_test)

In [ ]:
clf_C01 = LogisticRegression(C=0.1, 
                              penalty='l2',
                              solver='newton-cg').fit(X_train,y_train) 
clf_C01.score(X_train,y_train) 
clf_C01.score(X_test,y_test)

In [ ]:
clf_C1 = LogisticRegression(C=1, 
                              penalty='l2',
                              solver='newton-cg').fit(X_train,y_train) 
clf_C1.score(X_train,y_train) 
clf_C1.score(X_test,y_test)

In [ ]:
clf_C10 = LogisticRegression(C=10, 
                              penalty='l2',
                              solver='newton-cg').fit(X_train,y_train) 
clf_C10.score(X_train,y_train) 
clf_C10.score(X_test,y_test)

In [ ]:
clf_C100 = LogisticRegression(C=100, 
                              penalty='l2',
                              solver='newton-cg').fit(X_train,y_train) 
clf_C100.score(X_train,y_train) # 0.7814285714285715
clf_C100.score(X_test,y_test) # 0.7833333333333333

# Chosen Parameters

In [ ]:
# [selected parameters] parameter Penalty = 'l2', C =
clf_C1 = LogisticRegression(C=1,
                              penalty='l2', # ridge regression  - all or nothing  
                                             # ㄴ OLS + lamda - lamda - chosen or not 
                              solver='newton-cg').fit(X_train,y_train) # 'newtown-cg' : L2 
clf_C1.score(X_train,y_train) 
clf_C1.score(X_test,y_test)

In [ ]:
clf_C1.C
clf_C1.coef_
X_test.shape
df.columns

In [ ]:
from matplotlib import pyplot as plt

plt.figure(figsize=(10,8))

plt.plot(clf_C001.coef_.T,'o',label="C=0.01")
plt.plot(clf_C01.coef_.T,'*',label="C=0.1")
plt.plot(clf_C1.coef_.T,'v',label="C=1")



xlims = plt.xlim()
plt.hlines(0,xlims[0],xlims[1])
plt.xlim(xlims)
plt.ylim(-5,5)
plt.xlabel("X")
plt.ylabel("coef-size")
plt.legend()

plt.show()

In [ ]:
plt.figure(figsize=(10,8))

plt.plot(clf_C001.coef_.T,'o',label="C=0.01")
plt.plot(clf_C01.coef_.T,'*',label="C=0.1")
plt.plot(clf_C1.coef_.T,'v',label="C=1")
plt.plot(clf_C10.coef_.T,'^',label="C=10")
plt.plot(clf_C100.coef_.T,'-',label="C=100")

xlims = plt.xlim()
plt.hlines(0,xlims[0],xlims[1])
plt.xlim(xlims)
plt.ylim(-2,2)
plt.xlabel("X")
plt.ylabel("coef-size")
plt.legend()

In [ ]:
Best_GLM_clf_1 = LogisticRegression(C=,penalty='l2',solver='newton-cg')
Best_GLM_clf_1

In [ ]:
# Creating the model on Training Data
Best_GLM_clf_1_fit = Best_GLM_clf_1.fit(X_train,y_train)

# 분류(예측) : 확률적 판별 모형
prediction = Best_GLM_clf_1_fit.predict(X_test)
prediction

In [ ]:
# Measuring accuracy on Testing Data

from sklearn import metrics

print(metrics.classification_report(y_test,prediction))

metrics.confusion_matrix(y_test, prediction)

In [ ]:
# Printing the Overall Accuracy of the model

F1_Score = metrics.f1_score(y_test,prediction,average='weighted')

# Accuracy of the model on Testing Sample Data
round(F1_Score,2) # 0.77

In [ ]:
Best_GLM_clf_1.n_features_in_  # 모든 그룹변수까지 해서 총 갯수
Best_GLM_clf_1.coef_
DataforML_Numeric.columns

# Accuracy values for 10-fold Cross Validation
### One way of solving overfitting

In [ ]:
# Importing cross validation function from sklearn
from sklearn.model_selection import cross_val_score

# Running 10-Fold Cross validation on a given algorithm

# Passing full data X and y because the K-fold will split the data and automatically choose train/test
Accuracy_values_10 = cross_val_score(Best_GLM_clf_1_fit,X,y,cv=10,scoring='f1_weighted')

Accuracy_values_10
round(Accuracy_values_10.mean(),2)

#------------------------------------------------------------------------------------------

Accuracy_values_20 = cross_val_score(Best_GLM_clf_1_fit,X,y,cv=20,scoring='f1_weighted')

Accuracy_values_20
round(Accuracy_values_20.mean(),2)